@import "../../../constant/color.scss";

$text-color: #666;


@mixin flex-center { // :))))
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin section-padding {
  	padding: 80px 0;
}

.recommended-section,
.sale-section {
	@include section-padding;
	background-color: $bg-color_gray;

	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 20px;
		&__label_1 {
			color: $primary-color;
			font-size: 50px;
			text-align: center;
			margin-bottom: 20px;
		}
		&__label_2 {
			color: $primary-color;
			font-size: 45px;
			text-align: start;
			margin-bottom: 20px;
		}
	}

	

	&__subtitle {
		text-align: center;
		color: $text-color;
		max-width: 800px;
		margin: 0 auto 50px;
		line-height: 1.6;
	}

	&__product-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 30px;
		margin-top: 40px;
		place-items: start; // Cái này sẽ giúp nếu có 1, 2 phần tử (<min ptu) thì nó vẫn giữ kích cỡ, kéo về đầu giao diện
	
		max-height: 500px; // bạn chỉnh con số này theo ý muốn
		overflow: hidden; // nội dung thừa sẽ bị ẩn
	}
}



.product-card {
	background: $white;
	border-radius: 10px;
	overflow: hidden;
	transition: transform 0.3s ease;
	display: flex;
	flex-direction: column;
	height: 480px;
	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 10px 20px rgba(0,0,0,0.1);
	}

	&__image {
		flex: 1;
		background-color: #B91C1C;
		height: 250px;
		width: 190px;
		background-size: cover;
		background-position: center;
		@include flex-center;
		flex-direction: column;
		color: $white;
		padding: 20px;
		text-align: center;

		h3 {
			font-size: 1.8rem;
			margin-bottom: 10px;
		}
	}

	h4 {
		color: $primary-color;
		font-size: 1.2rem;
		margin: 15px;
		text-align: center;
	}

	&__price {
		color: $accent-color;
		font-size: 1.2rem;
		font-weight: bold;
		text-align: center;
		margin-bottom: 15px;
	}

	&__original-price {
		text-align: center;
		text-decoration: line-through;
	}

	&__add-to-cart {
		background-color: $primary-color;
		color: $white;
		border: none;
		padding: 12px 25px;
		border-radius: 5px;
		cursor: pointer;
		margin: 15px;
		@include flex-center;
		gap: 10px;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: darken($primary-color, 10%);
		}

		.cart-icon {
			font-size: 1.1rem;
		}
	}
}


@media (max-width: 768px) {
	.recommended-section__product-grid,
	.sale-section__product-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 480px) {
	.recommended-section__product-grid,
	.sale-section__product-grid{
		grid-template-columns: 1fr;
	}
}

